.successful {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 25vh;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.323);
    width: 40%;
    z-index: 20;
}

.successful__header {
    position: absolute;
    top: 0;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #7868E6;
}

.successful__header h1 {
    width: 80%;
    margin: 0 auto;
    padding: .3rem 0;
    color: #FFF;
    font-size: 1.2rem;
    text-align: center;
}

.successful__body {
    width: 60%;
    margin: 9vh auto 4vh auto;
}

.successful__body > * {
    margin: 1rem 0;
    text-align: center;
}

.successful__btn {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 1000px) and (max-height: 500px) {
    .successful {
        height: 45vh;
        width: 50%;
    }
    .successful__body {
        width: 90%;
        margin: 13vh auto 4vh auto;
    }
    .successful__btn {
        width: 50%;
        margin: 2rem auto 0 auto;
    }
}

@media (max-width: 750px) {
    .successful {
        height: 30vh;
        width: 80%;
    }
    .successful__body {
        width: 90%;
        margin: 10vh auto 4vh auto;
    }
}

