.selectors,
.selectors__open {
    width: 80%;
    height: 2rem;
    margin: 2rem auto 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    justify-content: center;
}

.selectors__center {
    position: relative;
}

.selectors__center-position {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.selectors__right {
    position: relative;
}

.selectors__right-position {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    right: 0;
}

.selectors__vessel {
    margin-left: 2rem;
}

.selectors__vessel__show {
    position: absolute;
    width: 95%;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 1rem;
    margin-top: .5rem;
    border: 1px solid #000;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.275);
    border-radius: .5rem;
    animation: dropVessel .2s ease-in;
}

.selectors__vessel__show input {
    margin-right: .5rem;
}

.selectors__vessel input:nth-child(2n) {
    width: 4rem;
}

.selectors__vessel__show form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.selectos__vessel__vessel {
    margin-left: .5rem;
}

@keyframes dropVessel {
    0% {
        transform: translate(-50%, -5rem);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -1rem);
        opacity: 1
    }
}