.select,
.select-click {
    padding: .2rem;
    position: relative;
    background-color: #EDEEF7;
    border: 1px solid #000;
    border-radius: .5rem;
    width: 5rem;
    height: 1rem;
    cursor: pointer;
}

.select {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.259);
}

.select-click {
    margin: 3px 0 0 3px;
    animation: clickDropdown .1s linear;
}

.select__header {
    font-size: .9rem;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.select__arrow {
    position: absolute;
    right: 15%;
    top: 15%;
}

.show {
    animation: spin .3s linear;
}

.hide {
    animation: spin-back .3s linear;
}

.select__dropdown__hide,
.select__dropdown__show {
    background-color: #EDEEF7;
    border: 1px solid #000;
    border-radius: .5rem;
    position: absolute;
    width: 5rem;
    z-index: 10;
    padding: .2rem;
    top: 110%;
}

.select__dropdown__hide {
    animation: hideDropdown .3s linear;
    visibility: hidden;
}

.select__dropdown__show {
    margin-left: 3px;
    margin-top: 3px;
    animation: showDropdown .1s linear;
    visibility: visible;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.259);
}

.select__dropdown__show li,
.select__dropdown__hide li {
    list-style-type: none;
    padding: .3rem;
    margin-left: .4rem;
    cursor: pointer;
}

.select__dropdown__show li:hover,
.this-type {
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes spin-back {
    0% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes showDropdown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideDropdown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes clickDropdown {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(3px, 3px);
    }
}