.shipment__right__box-top button {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
}

.shipmentFAK__right__box-bottom {
    width: 40%;
    margin: 0 auto;
    padding-top: 1rem;
}

.shipmentFAK__right__box-bottom__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.shipmentFAK__right__box-bottom__list p {
    width: fit-content;
    padding: .2rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.shipmentFAK__right__box-bottom ul li p:hover {
    animation: chosen .2s linear;
    animation-fill-mode: forwards;
}

@keyframes chosen {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.1;
    }
}
