.shipment {
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}

.shipment h2 {
    margin-top: 5rem;
}

.shipment__type {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.shipment__type-selector {
    display: flex;
    flex-direction: column;
}