.shipment__top-menu {
    padding-top: 5%;
    width: 80%;
    margin: 0 auto;
}

.shipment__top-menu p {
    font-size: .8rem;
}

.shipment__top-menu-list {   
    border-bottom: 1px solid gray;
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}

.shipment__top-menu-list li {
    margin: 0 1rem;
}

.shipment__top-menu-list h1:first-child {
    margin-right: 3rem;
}

.shipment__top-menu-list li span {
    display: flex;
}

.shipment__top-menu-list li span p {
    margin-right: .5rem;
}

.shipment__top-menu-list__btn {
    position: absolute;
    top: 7%;
    right: 2%;
}

.shipment__detail {
    margin-top: 5%;
    display: flex;
}

.shipment__left,
.shipment__right {
    width: 50%;
}

.shipment__left:after,
.shipment__right:after {
    width: 50%;
    content: "";
    display: table;
    clear: both;
}

.shipment__left__label,
.shipment__left__input {
    float: left;
    width: 30%;
    height: 50%;
    margin-left: 10%;
}

.shipment__left__label p,
.shipment__left__input p {
    margin-bottom: 1rem;
}

.shipment__left__notes {
    border: 1px solid #000;
    width: 90%;
    height: 12rem;
    border-radius: 2%;
    margin: 13rem 0 0 1.5rem;
    position: relative;
}

.notes-label {
    position: absolute;
    font-size: 0.8rem;
    top: -4.5%;
    left: 3.5%;
    background-color: #FFF;
    padding: 0 2%;
    margin: 0;
}

.shipment__left__notes p {
    padding: 1rem;
    white-space: pre-wrap;
    overflow: auto;
    width: 88%;
    height: 9rem;
}

.shipment__right__box {
    width: 80%;
    margin: 0 auto;
    height: 27rem;
    background-color: rgb(223, 223, 223);
    border-radius: 2%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.242);
}

.shipment__right__box-top {
    height: 3rem;
    border-bottom: 1px solid #000;
    position: relative;
}

.shipment__right__box-top p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shipment__right__box-bottom__table {
    width: 100%;
    margin-top: 2rem;
}

.shipment__right__box-bottom__table tbody tr td {
    width: 50%;
    margin-bottom: 1rem;
}

.shipment__right__box-bottom__table tbody tr td:first-child { 
    display: flex;
    width: 100%;
    padding-left: 2rem;
}

.shipment__right__box-bottom__table tbody tr td input:first-child {
    margin-right: .5rem;
}

.shipment__right__box-bottom__table tbody tr td:last-child { 
    padding-left: 2rem;
    vertical-align: top;
}

.shipment__bottom {
    width: 80%;
    margin: 0 auto 0 auto;
    position: relative;
    padding-bottom: 10rem;
}

.shipment__bottom button:first-child{
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
}

.shipment__bottom button:last-child{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}