.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    z-index: 100;
    height: 90vh;
    background-color: #FFF;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.396);
}

.modal__top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 101;
    height: 4vh;
    background-color: #240fac;
}

.modal__top-bar__back {
    position: fixed;
    top: 50%;
    left: 5%;
    font-size: .85rem;
    transform: translateY(-50%);
    color: #a6ff00;
    cursor: pointer;
}

.modal__top-bar__back:hover {
    color: #74b300;
}

.modal__top-bar__exit {
    position: fixed;
    top: 50%;
    left: 2%;
    font-size: .85rem;
    transform: translateY(-50%);
    color: #FF0000;
    cursor: pointer;
}

.modal__top-bar__exit:hover {
    color: #b00000;
}

.modal__contents {
    overflow: auto;
    height: inherit;
}

@media (min-height: 1000px) and (max-width: 1000px) {
    .modal__top-bar {
        height: 2.5vh;
    }
}

@media (max-width: 750px) {
    .modal__contents {
        overflow-x: hidden;
    }
    .modal__top-bar {
        height: 3vh;
    }
    .modal__top-bar__back {
        left: 8%;
        font-size: .85rem;
    }
}