.shipment {
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}

.shipment h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.shipment p {
    margin-top: .2rem;
    font-size: .9rem;
}

.shipment__error {
    color: #FF0000;
    font-weight: bold;
    padding-top: .4rem;
}

.shipment__type {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.shipment label {
    font-size: .9rem;
}

.shipment__type-selector {
    display: flex;
    flex-direction: column;
}