.calendar {
    width: 80%;
    margin: 2rem auto 0 auto;
    position: relative;
    z-index: -1;
    background-color: #FFF;
}

.calendar__table {
    margin: 0 auto;
    border: 1px solid #000;
    border-spacing: 1px;
    width: 100%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.259);
}

.calendar__table__this-month {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.2rem;
    border-bottom: 2px solid;
    position: relative;
    background-color: #7868E6;
    color: #FFF;
}

.calendar__table__prev-btn,
.calendar__table__next-btn {
    position: absolute;
    font-size: 1.4rem;
    cursor: pointer;
}

.calendar__table__prev-btn {
    left: 5%;
}

.calendar__table__next-btn {
    right: 5%;
}

.calendar__table__weekday {
    text-align: center;
    padding: .3rem;
    font-size: 1rem;
    border: 1px solid;
    background-color: #EDEEF7;
}

.calendar__table__day  {
    border: 1px solid;
    width: 3rem;
    height: 5rem;
    position: relative;
    overflow-wrap: anywhere;
    background-color: #FFF;
}

.calendar__today {
    border: 2px solid;
    width: 3rem;
    height: 5rem;
    position: relative;
    background-color: #FFF;
}

.calendar__table__day-date {
    font-size: .9rem;
    display: flex;
    position: absolute;
    top: 10%;
    left: 5%;
    cursor: pointer;
}

.calendar__table__day-date span {
    font-weight: bold;
}

.calendar__table__shipments {
    width: 90%;
    height: 3rem;
    font-size: .3rem;
    overflow-y: auto;
    margin: 1.5rem auto 0 auto;
}

.calendar__table__shipments-item {
    color: #FFF;
    font-size: .9rem;
    background-color: rgb(0, 0, 0);
    padding: .2rem 0 .2rem .5rem;
    cursor: pointer;
}

.calendar__table__shipments-item:not(:first-child) {
    margin-top: .3rem;
}

@media screen and (max-width: 1200px) {
    .calendar__table__day-date,
    .calendar__table__shipments-item {
        font-size: .8rem;
    }
}

@media screen and (max-width: 1000px) {
    .calendar {
        width: 80%;
        margin: 0 auto;
        position: relative;
        z-index: -1;
        background-color: #FFF;
    }
}