.back,
.back-opened {
    width: 100%;
    background-color: #E4FBFF;
}

.back {
    height: 100vh;
}

.back-opened {
    height: 0;
}

.logging {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40vh;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.323);
    width: 30%;
    overflow: auto;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #7868E6;
}

.header h1 {
    width: 80%;
    margin: 0 auto;
    padding: .3rem 0;
    color: #FFF;
}

.login__form {
    width: 80%;
    margin: 15vh auto 0 auto;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .5rem;
    position: relative;
}

.login__form__input {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.login__form__input > *,
.login__form__password {
    font-size: .9rem;
}

.login__form__btn {
    display: flex;
    align-content: center;
    justify-content: center;
}

.login__form__btn > * {
    font-size: 1rem;
}

.login__error {
    margin-left: .5rem;
}

.login__btns {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
}

.login__btns > * {
    font-size: .9rem;
}

@media (max-width: 1200px) {
    .login {
        width: 50%;
    }
    .login__form {
        margin: 18vh auto 0 auto;
    }
}

@media (max-width: 1000px) {
    .login {
        width: 70%;
        height: 40vh;
        overflow: auto;
    }
    .login__form {
        margin: 16vh auto 0 auto;
    }
}

@media (max-width: 1000px) and (max-height: 500px) {
    .login {
        height: 70vh;
    }
    .login__form {
        margin: 29vh auto 0 auto;
    }
}

@media (max-width: 500px) {
    .logging {
        width: 80%;
        top: 15%;
    }
    .login {
        height: 55vh;
    }
    .login__form {
        margin: 18vh auto 0 auto;
        display: flex;
        flex-direction: column;
    }
    .login__btns {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-top: -1rem;
        color: #000;
    }
}