.pref__setting {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.pref__setting h3 {
    font-size: 1.2rem;
}

.pref__setting__title > * {
    text-align: center;
}

.pref__setting__edit {
    text-align: center;
}

.pref__setting__edit button {
    border: 0px;
    background-color: transparent;
    font-size: 1.2rem;
    margin: 1rem 0;
    cursor: pointer;
}

.pref__setting__list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: .6rem;
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
}

.pref__setting__list:last-child {
    padding-bottom: 4rem;
}

.pref__setting__list-stage {
    display: flex;
    flex-direction: column;
}

.pref__setting__list-stage p:last-child {
    font-size: .85rem;
}

.pref__setting__list__colour {
    width: 80%;
    height: 3vh;
    border: 1px solid;
    cursor: pointer;
}

@media (max-width: 1000px) and (max-height: 500px) {
    .pref__setting h3,
    .pref__setting p {
        font-size: .9rem;
    }
    .pref__setting__list p {
        font-size: .8rem;
    }
}

@media (max-width: 750px) {
    .pref__setting h3,
    .pref__setting p {
        font-size: .9rem;
    }
    .pref__setting__list p {
        font-size: .8rem;
    }
}