.user__setting {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user__setting__heading {
    width: fit-content;
    margin: 0 auto;
}

.user__setting__heading h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.user__setting__items {
    width: 80%;
    margin: 0 auto;
}

.user__setting__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem;
    font-size: 1rem;
    align-items: center;
}

.user__setting__item input {
    padding: .3rem .5rem;
    font-size: 1rem;
}

.user__setting__bottom {
    width: fit-content;
    margin: 0 auto;
}

.user__setting__bottom__btn {
    margin-top: 2rem;
    padding: .3rem 1rem;
    width: 10rem;
    font-size: 1.2rem;
    background-color: #B8B5FF;
    border: 2px solid #7868E6;
    color: #000;
    border-radius: .5rem;
}

.user__setting__bottom__btn:hover {
    background-color: #7868E6;
    border: 2px solid #B8B5FF;
    color: #FFF;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .user__setting__items {
        width: 100%;
    }
    .user__setting__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        font-size: 1rem;
        align-items: center;
    }
}

@media (max-width: 1000px) and (max-height: 500px) {
    .user__setting__heading h3 {
        margin-top: 1rem;
        font-size: .9rem;
    }
    .user__setting__item {
        gap: .5rem;
        margin: 2rem;
        font-size: .8rem;
    }
    .user__setting__bottom__btn {
        margin-top: 2rem;
        padding: .3rem .6rem;
        width: 10rem;
        font-size: .8rem;
    }
}

@media (max-width: 750px) {
    .user__setting__heading h3 {
        font-size: 1rem;
    }
    .user__setting__item {
        gap: .5rem;
        margin: 2rem;
        font-size: .85rem;
    }
    .user__setting__bottom__btn {
        width: 8rem;
        font-size: .8rem;
    }
}